<div class="padding">
  <rp-section-header title="Contact Info">
    Don't be shy
  </rp-section-header>
  <div fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <a ngStyle.xs="max-width: 100vw" mat-button color="accent" href="https://www.linkedin.com/in/jeremy-taghizadeh">
        <img src="../../../assets/In-2C-128px-TM.png" alt="in">
        <div>Jeremy Taghizadeh</div>
      </a>
      <a mat-button color="accent" href="mailto:jtaghiza@gmail.com">
        <mat-icon class="rp-email">email</mat-icon>
        <div>jtaghiza@gmail.com</div>
      </a>
      <a mat-button color="accent" href="tel:515-996-5053">
        <mat-icon class="rp-phone">phone</mat-icon>
        <div >515-996-5053</div>
      </a>
    </div>
    <hr>
  </div>
</div>
