<!-- header -->
<div fxLayout.gt-md="row" fxLayout="column" fxLayoutAlign.lt-lg="center center">
  <div fxFlex="30"></div>
  <div fxFlex class="rp-section-subtitle">{{ history.sectionTitle }}</div>
</div>
<!-- header -->

<!-- content -->
<div *ngFor="let location of history.locations" fxLayout.gt-md="row" fxLayout="column" fxLayoutAlign.lt-lg="center center" ngStyle.xs="height: 172px">
  <div fxFlex="30"></div>
  <div fxFlex="15" class="rp-exp-title" fxLayout="column" fxLayoutAlign.lt-lg="center center" fxLayoutAlign="start start"
    ngStyle.lt-lg="width: 100vw">
    <h2>{{ location.location }}</h2>
    <p>{{ location.dateOfAttendance }}</p>
  </div>
  <div fxFlex="2"></div>
  <div ngStyle.lt-lg="width: 500px; text-align: center;" ngStyle.xs="width: 300px; text-align: center;" fxFlex.lt-lg="15"
    class="rp-exp-content" fxLayout="column" fxLayoutAlign="start start">
    <div>{{ location.position }}</div>
    <div fxHide.xs="true">
      {{ location.description }}
    </div>
  </div>
  <div fxFlex="30"></div>
</div>
<!-- content -->