@import '../../../resume-theme';

hr {
    width: 40%;
    margin: 30px 0;
}

.rp-education {
    margin-bottom: 30px;
}

.rp-exp-title {
    color: mat-color($resume-color-primary, 50);
    font-family: "Roboto Mono", sans-serif;
    h2 {
        margin-bottom: 5px;
        margin-top: 22px;
        font-weight: 300;
        font-size: 21px;
    }
    p {
        margin-top: 0;
        font-weight: 300;
        font-size: 13px;
    }
}


