<div class="padding">
  <rp-section-header title="Abilities">Skills I've acquired and tools I enjoy using</rp-section-header>
  <div class="rp-abilities">
    <div fxLayout.gt-md="row" fxLayout="column" fxLayoutAlign.lt-lg="center center">
      <div fxFlex="30"></div>
      <div fxFlex class="rp-section-subtitle">Skills</div>
    </div>
    <div fxLayout.gt-md="row" fxLayout.lt-lg="column" fxLayoutAlign.gt-md="start center"
         fxLayoutAlign.lt-lg="center center" ngStyle.xs="height: 530px">
      <div fxFlex="30"></div>
      <div>
        <rp-skill [rating]="5">Angular</rp-skill>
        <rp-skill [rating]="5">Java</rp-skill>
        <rp-skill [rating]="5">Sass</rp-skill>
        <rp-skill [rating]="5">Spring</rp-skill>
        <rp-skill [rating]="4">Kotlin</rp-skill>
        <rp-skill [rating]="4">NestJS</rp-skill>
        <rp-skill [rating]="4">Material Design</rp-skill>
        <rp-skill [rating]="3">AngularJS</rp-skill>
        <rp-skill [rating]="3">Vue</rp-skill>
        <rp-skill [rating]="3">JUnit</rp-skill>
      </div>
      <div fxFlex="auto"></div>
      <div>
        <rp-skill [rating]="3">MongoDB</rp-skill>
        <rp-skill [rating]="3">MySQL</rp-skill>
        <rp-skill [rating]="3">.Net Core</rp-skill>
        <rp-skill [rating]="3">Photoshop</rp-skill>
        <rp-skill [rating]="2">Ngrx</rp-skill>
        <rp-skill [rating]="2">Node</rp-skill>
        <rp-skill [rating]="2">Redis</rp-skill>
        <rp-skill [rating]="1">Go</rp-skill>
        <rp-skill [rating]="1">Steeltoe</rp-skill>
        <rp-skill [rating]="1">Swift</rp-skill>
      </div>
      <div fxFlex="30"></div>
    </div>
  </div>
  <div class="rp-abilities">
    <div fxLayout.gt-md="row" fxLayout="column" fxLayoutAlign.lt-lg="center center">
      <div fxFlex="30"></div>
      <div fxFlex class="rp-section-subtitle">Tools</div>
    </div>
    <div fxLayout.gt-md="row" fxLayout.lt-lg="column" fxLayoutAlign.gt-md="start center"
         fxLayoutAlign.lt-lg="center center" ngStyle.xs="height: 530px">
      <div fxFlex="30"></div>
      <div>
        <rp-skill [rating]="5">Cloud Foundry</rp-skill>
        <rp-skill [rating]="5">Firebase</rp-skill>
        <rp-skill [rating]="3">Npm</rp-skill>
        <rp-skill [rating]="4">Gradle</rp-skill>
        <rp-skill [rating]="3">Unity</rp-skill>
        <rp-skill [rating]="5">Intellij</rp-skill>
        <rp-skill [rating]="2">Circle CI</rp-skill>
        <rp-skill [rating]="4">GitLab CI</rp-skill>
        <rp-skill [rating]="1">Azure</rp-skill>
      </div>
      <div fxFlex="auto"></div>
      <div>
        <hr>
      </div>
      <div fxFlex="30"></div>
    </div>
  </div>
</div>
