<div class="padding">
  <rp-section-header title="Profile">A little bit about myself</rp-section-header>
  <div fxLayout="row" fxLayoutAlign="center center">
    <div class="rp-section-content-container">
      <div fxLayout="row" fxLayoutAlign="space-around center" fxLayout.lt-md="column"
           fxLayoutAlign.lt-md="center center">

        <div class="rp-profile-about-me" ngStyle.lt-md="text-align: center;">
          <div class="rp-section-subtitle rp-profile-center-text">About Me</div>
          <div class="rp-profile-content">
            I'm a full stack developer who enjoys reading, video games, and long walks on the beach. I have two small
            dogs
            (shout out to Stitch and Wilson) and I currently reside in St. Louis, Missouri.
          </div>
        </div>

        <div ngStyle.lt-md="margin: 15px 0;" class="rp-profile-picture-circle" fxLayout="row"
             fxLayoutAlign="center center">
          <img src="../../../assets/Untitled-3.png">
        </div>

        <div ngStyle.lt-md="text-align: center;" class="rp-profile-stats"
             fxLayout="column">
          <div class="rp-section-subtitle rp-profile-center-text">Stats</div>
          <div fxLayout="row" fxLayoutAlign="space-between center" class="rp-profile-content"><b> Name:</b><span>Jeremy Taghizadeh</span> </div>
          <div fxLayout="row" fxLayoutAlign="space-between center" class="rp-profile-content"><b> Age:</b><span>27</span> </div>
          <div fxLayout="row" fxLayoutAlign="space-between center" class="rp-profile-content"><b> Attack:</b><span>50</span> </div>
          <div fxLayout="row" fxLayoutAlign="space-between center" class="rp-profile-content"><b> Defence:</b><span>1</span> </div>
          <div fxLayout="row" fxLayoutAlign="space-between center" class="rp-profile-content"><b> Strength:</b><span>76</span> </div>
          <div fxLayout="row" fxLayoutAlign="space-between center" class="rp-profile-content"><b> Magic:</b><span>82</span> </div>
        </div>

      </div>
    </div>
  </div>

</div>
